<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://use.fontawesome.com/193ffcc2d7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Bowlby+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->
      <h3 class="graphic-hed">The face of the franchise</h3>
      
      <div id="category-holder">
        <%= t.include("partials/_category.html") %>
      </div>

      <figcaption>
        <span class="art-credit">Emily M. Eng / The Seattle Times</span>
        <span class="data-source">Voting will be disabled after April 8, 2021</span>
      </figcaption>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
